body{
    background-color: black;
    color: #fff;  
    font-family: "interface";
    
/*    margin-top: 125px;*/
}


.AW{
    height: 100px;
    margin-bottom: px;
}

.topnav
{
    font-family: url('InterFace/InterFace_Trial_Rg.ttf');
    font-weight: 200;
    position: fixed;
    top: 50px;
    margin-left: 300px;
}

.topnav a{
    color: white;
    text-align: right;
    text-decoration: none;
    font-size: 26px;
    margin-left: 200px;
}

.topnav a:hover {
    color: lightgrey;
}

.topnav a.active {
    background-color: lightgrey;
    color: white;
}

.punkhome:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    opacity: ease;
    visibility: visible;
    height: auto;
}

.motyfhome:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    height: auto;
}

.habfathome:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    height: auto;
}

.maldiveshome:hover{
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    height: auto;
}

.punknext{
    margin-top: 50px;
    font-size: 26px;
    font-weight: 200;
    margin-left: 800px;
}

.punknext a:hover{
    color: lightgrey;
}

.punknext a{
    text-decoration: none;
    color: white;
}

.motyfnext{
    margin-top: 50px;
    font-size: 26px;
    font-weight: 200;
    margin-left: 800px;
}

.motyfnext a:hover{
    color: lightgrey;
}

.motyfnext a{
    text-decoration: none;
    color: white;
}


.habfatnext{
    margin-top: 50px;
    font-size: 26px;
    font-weight: 200;
    margin-left: 800px;
}

.habfatnext a:hover{
    color: lightgrey;
}

.habfatnext a{
    text-decoration: none;
    color: white;
}

.maldivesnext{
    margin-top: 50px;
    font-size: 26px;
    font-weight: 200;
    margin-left: 800px;
}

.maldivesnext a:hover{
    color: lightgrey;
}

.maldivesnext a{
    text-decoration: none;
    color: white;
}

.coffee{
    font-size: 26px;
    font-weight: 200;
}

.email{
    font-size: 26px;
    font-weight: 400;
}

.email a{
    text-decoration: none;
    color: white;
}

.email a:hover{
    color: lightgrey;
}

.number{
    font-size: 26px;
    font-weight: 400;
}

/* Punk */

.Cataloguehead{
    margin-top: 50px;
    font-weight: 250;
    font-size: 74px;
}

.Punkhead{
    font-weight: 900;
    font-size: 74px;
    margin-top: -25px;
}

.rolespunk{
    font-size: 26px;
    font-weight: 900;
    margin-top: 50px;
}

.punknames{
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
}

.punkbody{
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 50px;
}

.contentspage{
    margin-top: 50px;
}

.conclose{
    margin-top: 50px;
}

.smokepage{
    margin-top: 50px;
}

.twosmall{
    margin-top: 50px;
}

.punkclose{
    margin-top: 50px;
}

.twosmall2{
    margin-top: 50px;
}

.largeposter{
    margin-top: 50px;
}

.smallposter{
    margin-top: 50px;
}






/* Malives */ 

.headtext{
    line-height: 4.0;
}

.filmtitles{
    margin-top: 50px;
    font-weight: 250;
    font-size: 74px;
}

.Maldives{
    font-weight: 900;
    font-size: 74px;
    margin-top: -25px;
}

.projectrolesfour{
    font-size: 26px;
    font-weight: 900;
    margin-top: 50px;
}

.namesfour{
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
}

.maldivesbody{
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 50px;
}

.grey{
    background-color:  dimgrey;
}

.coverpage{
    margin-top: 50px;
}

.thankspage{
    margin-top: 50px;
}

.directorpg{
    margin-top: 50px;
}

.twosmallmaldives{
    margin-top: 50px;   
}

.name{
    margin-top: 50px;
}

.threed{
    margin-top: 50px; 
}

.posters{
    margin-top: 50px;
    margin-left: 40px; 
}

.posterwall{
    margin-top: 50px;
}




/* Habfat */

.photographyhead{
    margin-top: 50px;
    font-weight: 250;
    font-size: 74px;
}

.hatshead{
    font-weight: 900;
    font-size: 74px;
    margin-top: -25px;
}

.roleshats{
    font-size: 26px;
    font-weight: 900;
    margin-top: 50px;
}

.hatsnames{
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
}

.habfatbody{
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 50px;
}

.habfatvideo{
    margin-top: 100px;
}

.blackhat{
    margin-top: 50px;
}

.twosmallblackhats{
    margin-top: 50px;
}

.redlarge{
    margin-top: 50px;
}

.twosmallredhats{
    margin-top: 50px;
}

.whitehat{
    margin-top: 50px;
}

.cal{
    margin-top: 50px;
}

.ciara{
    margin-top: 50px;
}





/* MOTYF */

.brandhead{
    margin-top: 50px;
    font-weight: 250;
    font-size: 74px;
}

.motyfhead{
    font-weight: 900;
    font-size: 74px;
    margin-top: -25px;
}

.rolesmotyf{
    font-size: 26px;
    font-weight: 900;
    margin-top: 50px;
}

.namesmotyf{
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
}

.motyfbody{
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 50px;
}

.bookonelrg{
    margin-top: 50px;
}

.booktwolrg{
    margin-top: 50px;
}

.bookthreelrg{
    margin-top: 50px;
}

.twomotyfa{
    margin-top: 50px;
}

.twomotyfb{
    margin-top: 50px;
}

.twomotyfc{
    margin-top: 50px;
}

.postersmotyf{
    margin-top: 50px;
    margin-left: 140px; 
}

.auditorium{
    margin-top: 50px;
}


.all-cols{
  border-style: white;
  border-color: yellow;
}
#img-got{
  padding: 10px;
  height: 400px;
  width: auto;
}
#img-foo{
  padding: 10px;
  height: 400px;
  z-index: -100;
}


/* 
# Responsive breakpoints
# https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
Extra small   <576px  	.col-
Small         ≥576px    .col-sm-
Medium        ≥768px    .col-md-
Large         ≥992px    .col-lg-
Extra large   ≥1200px   .col-xl-
*/

/* Apply these rules if the screen width is LESS than 576px */

@media(max-width:576px){
    
    .nomobile{
        display: none;
    }
    
  h2{
    font-size: 1rem
  }
    
.nodesktop{
        display: block;
        margin-top: -300px; 
    }
    
  #img-foo{
    display: none;
  }
  .all-cols{
    border-color:white;
  }
    
.topnav
{
    font-family: url('InterFace/InterFace_Trial_Rg.ttf');
    font-weight: 200;
    position: fixed;
    top: 50px;
    margin-left: 0px;
    margin-right: 20px;
}

.topnav a{
    color: white;
    text-align: right;
    text-decoration: none;
    font-size: 26px;
    margin-left: 0px;
     margin-right: 20px;
}
    
}




/* Apply these rules if the screen width is GREATER than 576px */

@media (min-width: 576px) {
    
     .nomobile{
        display: block;
    }

 .nodesktop{
        display: none;
        position:inherit !important;
        margin-top: -300px;
    }
    
  .all-cols{
    border-color:white;
  }
    
}

/* Apply these rules if the screen width is GREATER than 768px */

@media (min-width: 768px) {
  .all-cols{
    border-color:blue;
  }
}

/* Apply these rules if the screen width is GREATER than 992px */

@media (min-width: 992px) {
  .all-cols{
    border-color:yellow;
  }
}

/* Apply these rules if the screen width is GREATER than 1200px */

@media (min-width: 1200px) {
  .all-cols{
    border-color:red;
  }
}